@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h1>@Model.Customer.Name</h1>
        
        <ul>
            <li>
                MembershipType: <span>@Model.Customer.MembershipType.Name</span> 
            </li>
            @if (Model.Customer.Birthdate.HasValue)
            {
                <li>
                    Birthdate: <span>@Model.Customer.Birthdate.Value.ToString("MM/dd/yyyy")</span>
                </li>
            }
            
        </ul>

        

    </div>
</div>

